@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>@ViewData["New_Title"]</h2>
<h3>@ViewData["New_Message"]</h3>

<p>Use this area to provide additional information.</p>
